/*------------------------------------------------------
      main
--------------------------------------------------------*/
[data-bs-theme="dark"] .mainContainer {
  background-color: #000000 !important;
}

[data-bs-theme="dark"] .navBar {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15) !important;
}

/* -----------------------------------------------------
      Nav Icon
-------------------------------------------------------- */
.navIcon {
  transition: all 0.3s ease !important;
}

.navIcon:hover {
  cursor: pointer !important;
  opacity: 0.7 !important;
}

/* -----------------------------------------------------
      module Remove Icon
-------------------------------------------------------- */
.removeIcon {
  font-size: 20px !important;
  padding: 0 2px !important;
  border-radius: 20% !important;
  color: red !important;
  transition: all 0.3s ease !important;
}

.removeIcon:hover {
  background-color: rgb(255, 0, 0) !important;
  color: white !important;
  cursor: pointer !important;
}

/* -----------------------------------------------------
      module remove confirmation
-------------------------------------------------------- */
[data-bs-theme="dark"] .swal2-popup {
  border: 1px solid rgb(100, 100, 100) !important;
}

/* -----------------------------------------------------
      Static Card
-------------------------------------------------------- */
.staticCard {
  transition: all 0.3s ease !important;
}

.staticCard:hover {
  transform: translateY(-5px) !important;
}

/*--------------------------------------------------------
      scroll to top btn
----------------------------------------------------------*/
.btnScrolToTop {
  bottom: 40px !important;
  right: 10px !important;
  padding: 10px 15px !important;
}

[data-bs-theme='dark'] .btnScrolToTop {
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2) !important;
  opacity: 0.8 !important;
  border: 1px solid rgb(220, 220, 220) !important;
}